.main-solution h1{
    text-align:justify;line-height:2.8rem;font-size:2rem;margin:1rem 0;margin: 1rem auto;max-width: 90%;
}
body{
    background: #F9FAFB !important;
}
.main-solution p{
    text-align:justify
}
.nos_solutions{
    display:flex;;align-items:streach;width:90%;flex-wrap:wrap;gap:1rem;margin: 1rem 5%;
}
.nos_solutions .solution{
    flex-basis: 32%;
    width: 100%;
    background: white;
    padding: 1.3rem;
    padding-top: 200px;
    border-radius: 1rem;
    margin: 1rem 0;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0;
    position: relative; /* Add position: relative to the .carrer element */
    box-shadow: 5px 1px 0.8rem gray;
}

.solution img {
    width: 100%; /* Make the image 100% width within its container */
    max-height: 50%; /* Set the maximum height for the image */
    display: block;
    margin: 0 auto;
    position: absolute; /* Add position: absolute to the image */
    top: 0; /* Position the image at the top of .carrer */
    left: 0; /* Position the image at the left of .carrer */
    border-radius: 1rem 1rem 0 0;
}